body{
    background: #F8F8F8;
    margin:0;
    padding:0;
    background-color: #2c3e50;
    font-family: 'Nunito', sans-serif;
font-weight: bold;
    }

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99.70%;
    height: 200px;
    border: 2px solid #F8F8F8;
}

.formnew{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;

}

.input{
    display: flex;
    border: solid  #04b12f 3px;
    border-radius: 20px;
    background: none;
    outline: none;
    padding: 5px;
    text-align: center;
    justify-content: center;
    transition: 0.25s;
    width: 250px;
    height: 30px;
}
.input:focus{
    border:3px solid  #26A7E0;
}
.btn{
    display: flex;
    border: solid #04b12f 2px;
    background-color: #04b12f;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    outline: none;
    color: #fff;
    transition: 0.25s;
    font-size: 20px;
    justify-content: center;
    width: 125px;
    height: 45px;
    padding: 5px;
    cursor: pointer;

}
.btn:hover{
    border: solid #26A7E0 2px;
    background-color: #26A7E0; 
    box-shadow: 0 0 5px 1px #26A7E0;
    color: #fff;
}


.section-result{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-grow: 1;
}

.result_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 500px;
    margin-bottom: 15px;
}

.div_image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    z-index: 0;
}

.link_image{
  width: 250px;
  height: 350px;
}
.link_image:hover{
    width: 300px;
    height: 400px;
    /*
    transform: rotateY(95deg);
    transition: 2s;
    animation-delay: 5s;
    */
}

.div_title{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.div_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    z-index: 1;

}
.container_button{

 /*   width: 250px;
    height: 350px; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.button_add{
    display: flex;
    width: 150px;
    height: 30px;
    background: none;
    display: flex;
    border: solid#04b12f 3px;
    border-radius: 20px;
    margin-top:  10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    transition: 0.25s; 
    color: #26A7E0;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;

}
.button_add:hover{
    border:3px solid  #26A7E0;
}

.select{
    display: flex;
    width: 150px;
    height: 30px;
    background: none;
    display: flex;
    border: solid#04b12f 3px;
    border-radius: 20px;
    margin-top:  10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    transition: 0.25s; 
    color: rgb(48, 181, 238);
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;

}
select:hover{
    border:3px solid  #26A7E0;
}




.hidden{
    display: none;
}
